################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/emailAPI/LlabsRepository/bin/Debug
/emailAPI/LlabsRepository/obj/Debug
/emailAPI/Employee/bin/Debug
/ceb/ceb/DAO/connection.js
/ceb/.vs/ceb/v15/.suo
/ceb/ceb/bin
/ceb/ceb/node_modules
/ceb/ceb/obj/Debug
/emailAPI
